<div class="container">
  <div class="user-details">
    <br><br>
    <h2> About Us </h2>
  </div>
  <div class="row user-projects">
    
    
    
	<table width="100%" border="0">
    <col width="70%">
  	<col width="15.8%">
  	<col width="14.2%">
  	<tr>    
  	<td valign="top" border="0">
  	<h5> We Teach R </h5> 
      <p align='left'>We are Dr. Dirk Wulff and Dr. Nathaniel Phillips, two cognitive scientists who have jointly spent over 15 years 
        doing data science with R for both research and industry applications. We have written several R 
        packages including <a href="https://cran.r-project.org/web/packages/cstab/index.html"><code>cstab</code></a>, <a href="https://cran.r-project.org/web/packages/mousetrap/index.html"><code>mousetrap</code></a>, <a href="https://cran.r-project.org/web/packages/yarrr/index.html" style="text-decoration:none;display:inline;color:#000000;white-space: nowrap"><code>yarrr</code></a>, <a href="https://cran.r-project.org/web/packages/FFTrees/index.html" style="text-decoration:none;display:inline;color:#000000;white-space: nowrap"><code>FFTrees</code></a>, 
        taught R courses at the Bachelor’s and PhD level, and authored 
        the book <a href = "http://www.thepiratesguidetor.com">YaRrr! The Pirate’s Guide to R</a>.
        <br><br>
        You can find us on Twitter at <a href="https://twitter.com/TheRBootcamp">@TheRBootcamp</a>, or via email at <a href="mailto:therbootcamp@gmail.com?Subject=Hello%20again" target="_top">therbootcamp@gmail.com</a>
        </p>
  	</td>
  	<td valign="top" border="0">
  	  <p align="center">
        <img alt="Dirk" src="{{ "/assets/img/dirk2_narrow_small.png" | prepend: site.baseurl }}" align="center" width="180"/>
        <a href="http://www.dirkwulff.org"><br>Dr. Dirk U.<br>Wulff</a>
      </p>
    </td>
    <td valign="top" border="0">
      <p align="center">
        <img alt="Nathaniel" src="{{ "/assets/img/nathaniel_narrow_small.png" | prepend: site.baseurl }}" align="center" width="180"/>
        <a href="http://ndphillips.github.io"><br>Dr. Nathaniel D. Phillips</a>
      </p>
    </td>
  	</tr>
	</table>
    
    
    <!---
    <div class="two columns images">
      <p align="center">
        <img alt="Nathaniel" src="{{ "/assets/img/nathaniel_narrow_small.png" | prepend: site.baseurl }}" align="middle" font-weight="normal"/>
        <a href="http://ndphillips.github.io"><br>Dr. Nathaniel D. Phillips</a>
      </p>
    </div>
    <div class="two columns images">
      <p align="center" size="12">
        <img alt="Dirk" src="{{ "/assets/img/dirk2_narrow_small.png" | prepend: site.baseurl }}" align="middle" font-weight="normal"/>
        <a href="http://www.dirkwulff.org"><br>Dr. Dirk U.<br>Wulff</a>
      </p>
    </div>
    <div class="eight columns">
      <h5> We Teach R </h5>
      <p align='left'>We are Dr. Dirk Wulff and Dr. Nathaniel Phillips, two cognitive scientists who have jointly spent over 15 years 
        doing data science with R for both research and industry applications. We have written several R 
        packages including <a href="https://cran.r-project.org/web/packages/cstab/index.html"><code>cstab</code></a>, <a href="https://cran.r-project.org/web/packages/mousetrap/index.html"><code>mousetrap</code></a>, <a href="https://cran.r-project.org/web/packages/yarrr/index.html" style="text-decoration:none;display:inline;color:#000000;white-space: nowrap"><code>yarrr</code></a>, <a href="https://cran.r-project.org/web/packages/FFTrees/index.html" style="text-decoration:none;display:inline;color:#000000;white-space: nowrap"><code>FFTrees</code></a>, 
        taught R courses at the Bachelor’s and PhD level, and authored 
        the book <a href = "http://www.thepiratesguidetor.com">YaRrr! The Pirate’s Guide to R</a>.
        <br><br>
        You can find us on Twitter at <a href="https://twitter.com/TheRBootcamp">@TheRBootcamp</a>, or via email at <a href="mailto:therbootcamp@gmail.com?Subject=Hello%20again" target="_top">therbootcamp@gmail.com</a>
        </p>
    </div>
  
  
  	--->
  
  
  </div>
</div>
