<style>
table, th, td
{
  border: 0;
}
table
{
  border-collapse:collapse;
}
p.block{
	text-align: justify;
}
</style>

<div class="container">
  <div class="user-details">
    <br><br>
    <h2>R Course</h2>
    
    
	<table width="100%" >
    <col width="25%">
  	<col width="25%">
  	<col width="25%">
  	<col width="25%">
  	<tr>    
  		<td valign="top" colspan=4>
    		<p >
	    		An in-depth R course for beginners, academics, and professionals. 
   	 			We cover statistical analysis and machine learning.
   	 			We show you how to make elegant, informative data visualizations for data both big and small.
    			We introduce you to some of R's most efficient libraries for data analysis and tools to write transparent, reproducible reports.
    		</p>
  		</td>
  	</tr>
  	<tr>
  		<td valign="top">
      		<h4 align="center">Essentials</h4>   
      		<p align="center">
        		<img src="therbootcamp.github.io/assets/img/rlogo_c.png" alt="rlogo" height="150px">
        		<br>
        		Get to know the R language and RStudio. Load your data into R and do basic calculations and manipulations.
        	</p>
    	</td>
    	<td valign="top">
    		<h4 align="center">Statistics</h4>
      		<p align="center">
        		<img src="therbootcamp.github.io/assets/img/normal.png" alt="ttest" height="150px">
        		<br>
        		Descriptive and inferential statistics. Bayesian statistics. Machine learning and statistical prediction.
        	</p>
    	</td>
    	<td valign="top">
    	    <h4 align="center">Visualisations</h4>
      		<p align="center">
         		<img src="therbootcamp.github.io/assets/img/scatterplot.png" alt="ttest" height="150px">
        		<br>
        		Publication-ready visualisations for small and big data. Interactive websites with Shiny.
        	</p>
    	</td>
    	<td valign="top">
    		<h4 align="center">Productivity</h4>
      		<p align="center">
         		<img src="therbootcamp.github.io/assets/img/gearshare.png" alt="ttest" height="150px">
        		<br>
        		Speed up your code. Write and share reproducible code using R Markdown and Github.
        	</p>
    	</td>
  	</tr>
	</table>
    
  
  </div>
</div>
