
<div class="container">
  <div class="user-details">
    <br><br>
    <h2> Present & Past</h2>
  </div>
  <div class="row user-projects">
    
    <table width="100%" border="0">
    <col width="30%">
  	<col width="65%">
  	<tr>    
  	<td valign="top">
  	<h5> Bootcamps</h5> 
  	 <p align="left">
		 January 2018<br><i><a href="https://therbootcamp.github.io/schedule_18Jan">Schedule and Materials</a></i><br><br>
      	 September 2017<br><a href="https://therbootcamp.github.io/schedule_17Sep">Schedule and Materials</a> 
    </p>

  	</td>
  	<td valign="top">
	<p align="right">
      <i>I learned from the basics to really cool stuff like interactive plots.  Right after the bootcamp I decided to move fully into R.  Really great bootcamp!</i><br>
      <font size=2><b> Edgar, Associate Professor</b></font>
      <br><br>
      <i>Every participant will have found something he or she could relate to, be it statistics, visualizations, presentations or web apps. It certainly made me want to take my computer and get cracking right away!</i><br>
      <font size=2><b> Johan, Analyst</b></font>
	      <br><br>
	
       <i>Learning R at TheRBootcamp has offered me [...] the feeling of staying relevant in the changing finance industry</i><br>
		<font size=2><b> Irena, Credit Officer</b></font> 
		
		
    </p>
  	</tr>
	</table>

    
    <!---
    <div class="four columns images">
      <p align="right">
      <i>I learned from the basics to really cool stuff like interactive plots.  Right after the bootcamp I decided to move fully into R.  Really great bootcamp!</i><br>
      <font size=2><b> Edgar, Associate Professor</b></font>
	</div>
    <div class="six columns">
      <p align="left">
      <h5> Current and past bootcamps</h5>
      September 2017 - <a href="https://therbootcamp.github.io/schedule">Schedule and Materials</a> 
      <br><br><br><br>
      </p>
    </div>
    --->
  
  </div>
</div>





