
<div class="container">
  <div class="user-details">
    <br><br>
    <h2> Upcoming Courses </h2>
  </div>
  <div class="row user-projects">
    
    
	<table width="100%" border="0">
    <col width="70%">
  	<col width="30%">
  	<tr>    
  	<td valign="top">
  	<h5> Basel R Bootcamp, April 2018</h5> 
      <p align="left">
       April 7, 8, 14, 15. Hosted by Advanced Studies, University of Basel.<br>Maximum: 15 students. Registration Fees: 1,590CHF.<br>
       <font size = 4>Many spots left!</font>
      <a class="project-link" href="https://advancedstudies.unibas.ch/courses/course/basel-r-bootcamp-170699" align="center">Register here!</a>
      </p>

  	</td>
  	<td valign="top">
      <p align="right">
      <img alt="Basel" src="{{ "/assets/img/640px-Middle_Bridge,_Basel,_Switzerland.jpeg" | prepend: site.baseurl }}" align="middle"/>
      <a href="https://de.wikipedia.org/wiki/Datei:Middle_Bridge,_Basel,_Switzerland.JPG" class="new" title="User:Lucazzitto (page does not exist)" style="font-size:10px;text-decoration:none" align='top'>source:wikipedia.com</a>
      </p>
  	</tr>
	</table>
    
    
    <!---
    
    <div class="four columns images">
      <p align="right">
      <img alt="Basel" src="{{ "/assets/img/basel_winter.jpg" | prepend: site.baseurl }}" align="middle"/>
      <a href="https://www.feratel.com/" class="new" title="User:Lucazzitto (page does not exist)" style="font-size:10px;text-decoration:none" align='top'>source:feratel.com</a></p>
    </div>
    <div class="eight columns">
      <h5> Basel R Bootcamp - new dates for Winter bootcamp to be announced soon</h5>
      <p align="left">
      4-day introductory course hosted by the advanced studies, University of Basel. Registration Fees: 1,490CHF
      <a class="project-link" href="https://advancedstudies.unibas.ch/studienangebot/kurs/basel-r-bootcamp-170699" align="center">Register here!</a>
      </p>
    </div>
    
    --->
  </div>
</div>
